{% extends "base.html" %}
{% block content %}
    <form action="/wb/addwb" method="POST">
        <table>
            <tr>
                微博标题:<input type="text" name="wbname" placeholder="请输入一个标题">
            </tr>
            <br>
            <tr>
               <input type="hidden" name="u_name" value="{{ u_name }}">
            </tr>

            <tr>
                <input type="hidden" name="wbtime" value="{{ wbtime }}">
            </tr>
            <tr>
                微博内容:<textarea name="wbcontent" placeholder="请输入一段内容"></textarea>
            </tr>
            <br>
            <tr>
                <input type="submit" value="提交">
            </tr>
        </table>
    </form>
{% endblock %}