{% extends "base.html" %}
{% block content %}
    {% if err %}
        <div class="alert alert-danger" role="alert">
            <p class="mb-0">{{ err }}</p>
        </div>
    {% endif %}
    <form action="/wb/addwb" method="POST">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">微博内容</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="wbcontent" placeholder="请输入一段内容" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input class="btn btn-success" type="submit" value="提交">
            </div>
        </div>
    </form>
{% endblock %}