{% extends "base.html" %}
{% block content %}
    {% for wb in wbs %}
        <div class="alert alert-info" role="alert">
            <a href="/user/other?uid={{ wb.u_id }}"><strong>{{ wb.u_name }}</strong></a>&nbsp;说:
            <br/>
            <a class="btn btn-link" href="/wb/read?id={{ wb.id }}">{{ wb.wbcontent | replace('\n', '<br />') | safe }}</a>
            <br/>
            {{ wb.wbtime }}
        </div>
        <hr/>
    {% endfor %}
    <a href="/wb/addwb"><input type="button" class="btn btn-success" value="添加微博"></a>
{% endblock %}


