{% extends "base.html" %}
{% block content %}
    {% if err %}
        <div class="alert alert-danger" role="alert">
            <p class="mb-0">{{ err }}</p>
        </div>
    {% endif %}
    <form action="/wb/updatewb" method="POST">
        <div class="form-group row">
            <label class="col-sm-2">微博内容</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="wbcontent" rows="5">{{ wb.wbcontent }}</textarea>
            </div>
        </div>
        <input type="hidden" name="id" value="{{ wb.id }}">
        <div class="form-group row">
            <label class="col-sm-2"></label>
            <div class="col-sm-5">
                <input class="btn btn-success" type="submit" value="修改微博">
            </div>
        </div>
    </form>
{% endblock %}