{% extends "base.html" %}
{% block content %}
    <form action="/wb/updatewb" method="POST">
        <table>
            <tr>
                <input type="hidden" name="id" value="{{ wb.id }}">
            </tr>
            <tr>
                微博标题:<input type="text" name="wbname" value="{{ wb.wbname }}">
            </tr>
            <br>
            <tr>
                <input type="hidden" name="u_name" value="{{ wb.u_name }}">
            </tr>
            <tr>
                <input type="hidden" name="wbtime" value="{{ wb.wbtime }}">
            </tr>
            <tr>
                微博内容:<textarea name="wbcontent">{{ wb.wbcontent }}</textarea>
            </tr>
            <br>
            <tr>
                <input type="submit" value="修改">
            </tr>
        </table>
    </form>
{% endblock %}