<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<!-- 头部 -->
    <div style="width: 1000px;background-color: pink;margin: auto">
        <div style="text-align: center;height: 50px">
            <a href="/wb/home">微博首页</a>
            <a href="/wb/mywb">我的微博</a>
            <a href="/user/info">个人中心</a>
            <a href="/">退出登录</a>
        </div>

    <!--中间-->
        <div style="background-color: antiquewhite;height: 500px">
            {% block content %}
            {% endblock %}

        </div>

    <!--底部-->
        <div style="background-color: orange;height: 50px">版权所有</div>
    </div>
</body>
</html>